<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- META Facebook Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.meta.title %}{{ page.meta.title }}{% else if page.title != blank %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}/assets/headers/{% if page.meta.image %}{{ page.meta.image }}{% else %}{{ page.headerimage }}{% endif %}">
  <meta property="og:description" content="{% if page.meta.description %}{{ page.meta.description }}{% else if page.content %}test{% else %}{{ site.description }}{% endif %}">
  <meta property="og:article:author" content="Bram de Leeuw">

  <!-- META Twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@bramdeleeuw">
  <meta name="twitter:creator" content="@bramdeleeuw">
  <meta name="twitter:title" content="{% if page.meta.title %}{{ page.meta.title }}{% else %}{{ page.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta name="twitter:image" content="{% if page.meta.image %}{{ page.meta.image }}{% else %}{{ page.headerimage }}{% endif %}">


  <link rel="stylesheet" href="{{ '/css/app.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
</head>
