<main class="project">
	<article class="project-content">
		<!-- Article Header -->
		<header class="project-content-title">
			<h2>{{ page.title }}</h2>
		</header>

		{{ page.content }}

		<!-- Text Section -->
		<section class="project-content-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan vestibulum neque, id fermentum tellus mollis id. Vivamus quis enim erat. Suspendisse varius nunc id tincidunt varius. Praesent pretium, ligula quis efficitur elementum, arcu nisi suscipit erat, ut porta sapien turpis eget purus. Cras ut diam ut odio commodo varius eget vitae dui. Cras tempus hendrerit imperdiet. Cras non metus ac justo convallis lobortis. Proin tempor est ac vestibulum efficitur. Sed lobortis mattis nisi nec iaculis.</p>
		</section>

		<!-- Gallery Section -->
		<section class="project-content-gallery">
			<div class="project-content-gallery-swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=533%C3%97400&w=533&h=400" width="533" height="400" alt="alt-text" title="title-text">
					</div>
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" width="400" height="400" alt="alt-text" title="title-text">
					</div>
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=533%C3%97400&w=533&h=400" width="533" height="400" alt="alt-text" title="title-text">
					</div>
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=533%C3%97400&w=533&h=400" width="533" height="400" alt="alt-text" title="title-text">
					</div>
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=533%C3%97400&w=533&h=400" width="533" height="400" alt="alt-text" title="title-text">
					</div>
				</div>
			</div>
			<div class="gallery-button-prev"></div>
			<div class="gallery-button-next"></div>
		</section>

		<!-- Text Section -->
		<section class="project-content-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan vestibulum neque, id fermentum tellus mollis id. Vivamus quis enim erat. Suspendisse varius nunc id tincidunt varius. Praesent pretium, ligula quis efficitur elementum, arcu nisi suscipit erat, ut porta sapien turpis eget purus. Cras ut diam ut odio commodo varius eget vitae dui. Cras tempus hendrerit imperdiet. Cras non metus ac justo convallis lobortis. Proin tempor est ac vestibulum efficitur. Sed lobortis mattis nisi nec iaculis.</p>
		</section>

		<!-- Fullscreen image -->
		<figure class="project-content-fullscreen-image">
			<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=1600%C3%97900&w=1600&h=900" width="1600" height="900" alt="alt-text" title="title-text">
		</figure>

		<!-- Text Section -->
		<section class="project-content-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan vestibulum neque, id fermentum tellus mollis id. Vivamus quis enim erat. Suspendisse varius nunc id tincidunt varius. Praesent pretium, ligula quis efficitur elementum, arcu nisi suscipit erat, ut porta sapien turpis eget purus. Cras ut diam ut odio commodo varius eget vitae dui. Cras tempus hendrerit imperdiet. Cras non metus ac justo convallis lobortis. Proin tempor est ac vestibulum efficitur. Sed lobortis mattis nisi nec iaculis.</p>
		</section>

		<!-- Image Section -->
		<figure class="project-content-image">
			<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=1600%C3%97900&w=1600&h=900" width="1600" height="900" alt="alt-text" title="title-text">
		</figure>

		<!-- Text Section -->
		<section class="project-content-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan vestibulum neque, id fermentum tellus mollis id. Vivamus quis enim erat. Suspendisse varius nunc id tincidunt varius. Praesent pretium, ligula quis efficitur elementum, arcu nisi suscipit erat, ut porta sapien turpis eget purus. Cras ut diam ut odio commodo varius eget vitae dui. Cras tempus hendrerit imperdiet. Cras non metus ac justo convallis lobortis. Proin tempor est ac vestibulum efficitur. Sed lobortis mattis nisi nec iaculis.</p>
		</section>

		<footer class="project-content-meta">
			<ul class="project-content-meta-list">
				<li class="project-content-meta-list-item" id="meta-year">
					<span class="project-content-meta-list-item-key">Year:</span>
					<span class="project-content-meta-list-item-value">{{ page.date | date: '%Y' }}</span>
				</li>
				{% if page.client %}
				<li class="project-content-meta-list-item" id="meta-client">
					<span class="project-content-meta-list-item-key">Client:</span>
					<span class="project-content-meta-list-item-value">{{ page.client }}</span>
				</li>
				{% endif %}
				{% if page.role %}
				<li class="project-content-meta-list-item" id="meta-role">
					<span class="project-content-meta-list-item-key">Role:</span>
					<span class="project-content-meta-list-item-value">{{ page.role }}</span>
				</li>
				{% endif %}
				{% if page.credits %}
				<li class="project-content-meta-list-item" id="meta-credits">
					<span class="project-content-meta-list-item-key">Credits:</span>
					<span class="project-content-meta-list-item-value">{{ page.credits }}</span>
				</li>
				{% endif %}
				<li class="project-content-meta-list-item" id="meta-share">
					<span class="project-content-meta-list-item-key">Share:</span>
					<span class="project-content-meta-list-item-value">
						<a href="#fb" title="Share {{ page.title }} on Facebook">Facebook</a>,
						<a href="#tw" title="Share {{ page.title }} on Twitter">Twitter</a>
					</span>
				</li>
			</ul>
		</footer>

	</article>
</main>