<main class="project">
	<article class="project-content">
		<!-- Article Header -->
		<header class="project-content-title">
			<h2>Title</h2>
		</header>

		<!-- Text Section -->
		<section class="project-content-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan vestibulum neque, id fermentum tellus mollis id. Vivamus quis enim erat. Suspendisse varius nunc id tincidunt varius. Praesent pretium, ligula quis efficitur elementum, arcu nisi suscipit erat, ut porta sapien turpis eget purus. Cras ut diam ut odio commodo varius eget vitae dui. Cras tempus hendrerit imperdiet. Cras non metus ac justo convallis lobortis. Proin tempor est ac vestibulum efficitur. Sed lobortis mattis nisi nec iaculis.</p>
		</section>

		<!-- Gallery Section -->
		<section class="project-content-gallery">
			<div class="project-content-gallery-swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=533%C3%97400&w=533&h=400" width="533" height="400" alt="alt-text" title="title-text">
					</div>
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" width="400" height="400" alt="alt-text" title="title-text">
					</div>
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=533%C3%97400&w=533&h=400" width="533" height="400" alt="alt-text" title="title-text">
					</div>
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=533%C3%97400&w=533&h=400" width="533" height="400" alt="alt-text" title="title-text">
					</div>
					<div class="swiper-slide">
						<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=533%C3%97400&w=533&h=400" width="533" height="400" alt="alt-text" title="title-text">
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</section>

		<!-- Text Section -->
		<section class="project-content-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan vestibulum neque, id fermentum tellus mollis id. Vivamus quis enim erat. Suspendisse varius nunc id tincidunt varius. Praesent pretium, ligula quis efficitur elementum, arcu nisi suscipit erat, ut porta sapien turpis eget purus. Cras ut diam ut odio commodo varius eget vitae dui. Cras tempus hendrerit imperdiet. Cras non metus ac justo convallis lobortis. Proin tempor est ac vestibulum efficitur. Sed lobortis mattis nisi nec iaculis.</p>
		</section>

		<!-- Fullscreen image Section -->
		<section class="project-content-fullscreenimage">
			<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=1600%C3%97900&w=1600&h=900" width="1600" height="900" alt="alt-text" title="title-text">
		</section>

		<!-- Text Section -->
		<section class="project-content-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan vestibulum neque, id fermentum tellus mollis id. Vivamus quis enim erat. Suspendisse varius nunc id tincidunt varius. Praesent pretium, ligula quis efficitur elementum, arcu nisi suscipit erat, ut porta sapien turpis eget purus. Cras ut diam ut odio commodo varius eget vitae dui. Cras tempus hendrerit imperdiet. Cras non metus ac justo convallis lobortis. Proin tempor est ac vestibulum efficitur. Sed lobortis mattis nisi nec iaculis.</p>
		</section>

		<!-- Image Section -->
		<section class="project-content-image">
			<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=1600%C3%97900&w=1600&h=900" width="1600" height="900" alt="alt-text" title="title-text">
		</section>

		<!-- Text Section -->
		<section class="project-content-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan vestibulum neque, id fermentum tellus mollis id. Vivamus quis enim erat. Suspendisse varius nunc id tincidunt varius. Praesent pretium, ligula quis efficitur elementum, arcu nisi suscipit erat, ut porta sapien turpis eget purus. Cras ut diam ut odio commodo varius eget vitae dui. Cras tempus hendrerit imperdiet. Cras non metus ac justo convallis lobortis. Proin tempor est ac vestibulum efficitur. Sed lobortis mattis nisi nec iaculis.</p>
		</section>

		<footer class="project-content-meta">
			<ul class="project-content-meta-list">
				<li class="project-content-meta-list-item" id="meta-year">
					<span class="project-content-meta-list-item-key">Year:</span>
					<span class="project-content-meta-list-item-value">2015</span>
				</li>
				<li class="project-content-meta-list-item" id="meta-role">
					<span class="project-content-meta-list-item-key">Role:</span>
					<span class="project-content-meta-list-item-value">Design, Development</span>
				</li>
				<li class="project-content-meta-list-item" id="meta-credits">
					<span class="project-content-meta-list-item-key">Credits:</span>
					<span class="project-content-meta-list-item-value">Made in collaboration with Sepus Noordmans, Orphé Tan-A-Kiam, Tomas Laar, Sara Risvåg, and Alyar Aynetchi.</span>
				</li>
				<li class="project-content-meta-list-item" id="meta-share">
					<span class="project-content-meta-list-item-key">Share:</span>
					<span class="project-content-meta-list-item-value">Facebook, Twitter</span>
				</li>
			</ul>
		</footer>

	</article>
</main>