<article class="project-layout">
  {% if page.galleryBase %} 
  <div class="gallery">
    <div class="swiper-wrapper">
      {% for galleryitem in page.gallery %}
      <div class="swiper-slide">
        <img data-src="/assets/galleries/{{ page.galleryBase }}/{{ galleryitem }}" class="swiper-lazy">
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <img src="/assets/headers/{{page.headerimage}}">
  {% endif %}
  <div class="project-info">
    <header>
      <h2>{% if page.title %}{{ page.title }}{% endif %}{% if post.title %}{{ post.title }}{% endif %}</h2>
    </header>
    {{ content }}
    <footer>
       {% include project_meta.html %}
    </footer>
  </div>
</article>