<article class="project-layout">
  {% if page.galleryBase %} 
  <div class="gallery">
    <div class="swiper-wrapper">
      {% for galleryitem in page.gallery %}
      <div class="swiper-slide">
        <img src="/assets/galleries/{{ page.galleryBase }}/{{ galleryitem }}">
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <img src="/assets/headers/{{page.headerimage}}">
  {% endif %}
  <div class="project-info">
    <header>
      <h2>{% if page.title %}{{ page.title }}{% endif %}{% if post.title %}{{ post.title }}{% endif %}</h2>
    </header>
    {{ content }}
    <footer>
      <ul class="meta">
        <li>
          <span class="label">Date:</span>
          <span>{{ page.date | date_to_string }}</span>
        </li>
        {% if page.role %}
        <li>
          <span class="label">Role:</span>
          <span>{% for role in page.role %}{{ role }}{% endfor %}</span>
        </li>
        {% endif %}
        {% if page.client %}
        <li>
          <span class="label">Client:</span>
          <span>{{ page.client }}</span>
        </li>
        {% endif %}
        {% if page.at %}
        <li>
          <span class="label">At:</span>
          <span>{{ page.at }}</span>
        </li>
        {% endif %}
      </ul>
    </footer>
  </div>
</article>