.page-layout {
  width: 100%;
  margin: .5em 0 2em 0;
  
  img {
    width: 100%;
    height: auto;
    border: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  }
  .page-content {
    max-width: 630px;
    header {
      display: inline-block;
      width: 100%;
      h2 {
        display: inline-block;
        margin: 1em 0 0 0;
      }
    }
  }
}

