.project-layout {
  width: 100%;
  margin: 1em 0 2em 0;
  background-color: $white;

  img {
    width: 100%;
    height: auto;
    border: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  }

  .project-info {
    max-width: 630px;
  }
}

.latest-projects {
  .project-card {
    margin: 0;
  }
}